@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: 255 255 255;

    --color-dark-75: 228 228 228; /* #e4e4e4 */
    --color-dark-100: 220 220 220; /* #dcdcdc */
    --color-dark-175: 201 201 201; /* #c9c9c9 */
    --color-dark-250: 174 174 174; /* #aeaeae */
    --color-dark-350: 140 140 140; /* #8c8c8c */
    --color-dark-500: 102 102 102; /* #666666 */
    --color-dark-625: 62 62 62; /* #3e3e3e */
    --color-dark-800: 23 23 23; /* #171717 */

    --color-green-75: #bdfa8d; /* #bdfa8d */
    --color-green-100: #a6f859; /* #a6f859 */
    --color-green-175: #8fdf3d; /* #8fdf3d */
    --color-green-250: #7bc626; /* #7bc626 */
    --color-green-350: #62a01d; /* #62a01d */
    --color-green-500: #477512; /* #477512 */
    --color-green-625: #2a4808; /* #2a4808 */
    --color-green-800: #0d1c02; /* #0d1c02 */

    --color-brown-75: #f9dfcb; /* #f9dfcb */
    --color-brown-100: #f8d5b8; /* #f8d5b8 */
    --color-brown-175: #f7bb88; /* #f7bb88 */
    --color-brown-250: #e2872b; /* #e2872b */
    --color-brown-350: #c77623; /* #c77623 */
    --color-brown-500: #925519; /* #925519 */
    --color-brown-625: #5b330b; /* #5b330b */
    --color-brown-800: #251203; /* #251203 */

    --color-red-75: #f8dedc; /* #f8dedc */
    --color-red-100: #f7d2d0; /* #f7d2d0 */
    --color-red-175: #f5b7b3; /* #f5b7b3 */
    --color-red-250: #f48c89; /* #f48c89 */
    --color-red-350: #f0434e; /* #f0434e */
    --color-red-500: #cb303c; /* #cb303c */
    --color-red-625: #72171e; /* #72171e */
    --color-red-800: #300608; /* #300608 */

    --color-blue-75: #d6e6fa; /* #d6e6fa */
    --color-blue-100: #c8dff9; /* #c8dff9 */
    --color-blue-175: #a6cdfa; /* #a6cdfa */
    --color-blue-250: #70b2fd; /* #70b2fd */
    --color-blue-350: #1183e8; /* #1183e8 */
    --color-blue-500: #0e67b7; /* #0e67b7 */
    --color-blue-625: #043f74; /* #043f74 */
    --color-blue-800: #011730; /* #011730 */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --pui-color-background-primary: var(--color-dark-800);
      --pui-color-background-secondary: var(--color-dark-700);

      --pui-color-text-primary: var(--color-white);
      --pui-color-text-secondary: var(--color-dark-175);
    }
  }
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  background: rgb(var(--pui-color-background-primary));
  color: rgb(var(--pui-color-text-primary));
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
